In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("data/dummy_data.csv")

In [3]:
df.head()

,Order Id,Time Of Order,Item Ordered,Quantity,Amount,Location,Delivery Time
0,1,9/5/2023,E,14,280,East-Legon,56
1,2,31/10/2023,B,7,140,Kaneshie,495
2,3,17/05/2023,B,1,20,Kaneshie,139
3,4,6/4/2023,A,4,80,Accra,316
4,5,19/11/2023,B,15,300,Kaneshie,293

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Id       600 non-null    int64
 1   Time Of Order  600 non-null    object
 2   Item Ordered   600 non-null    object
 3   Quantity       600 non-null    int64
 4   Amount         600 non-null    int64
 5   Location       600 non-null    object
 6   Delivery Time  600 non-null    int64
dtypes: int64(4), object(3)
memory usage: 32.9+ KB

In [5]:
df.describe(include="all")

,Order Id,Time Of Order,Item Ordered,Quantity,Amount,Location,Delivery Time
count,600.000000,600,600,600.000000,600.000000,600,600.000000
unique,NaN,293,5,NaN,NaN,5,NaN
top,NaN,26/11/2023,D,NaN,NaN,Malllam,NaN
freq,NaN,6,134,NaN,NaN,130,NaN
mean,300.500000,NaN,NaN,10.508333,210.166667,NaN,276.851667
std,173.349358,NaN,NaN,5.828369,116.567372,NaN,136.558400
min,1.000000,NaN,NaN,1.000000,20.000000,NaN,30.000000
25%,150.750000,NaN,NaN,6.000000,120.000000,NaN,155.000000
50%,300.500000,NaN,NaN,10.500000,210.000000,NaN,291.000000
75%,450.250000,NaN,NaN,16.000000,320.000000,NaN,386.000000
max,600.000000,NaN,NaN,20.000000,400.000000,NaN,500.000000

In [6]:
df.isna().sum()

Order Id         0
Time Of Order    0
Item Ordered     0
Quantity         0
Amount           0
Location         0
Delivery Time    0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.columns

Index(['Order Id ', 'Time Of Order', 'Item Ordered', 'Quantity', 'Amount',
       'Location ', 'Delivery Time'],
      dtype='object')

In [9]:
df.drop(axis=1, columns="Order Id ")

    Time Of Order Item Ordered  Quantity  Amount   Location   Delivery Time
0        9/5/2023            E        14     280  East-Legon             56
1      31/10/2023            B         7     140    Kaneshie            495
2      17/05/2023            B         1      20    Kaneshie            139
3        6/4/2023            A         4      80       Accra            316
4      19/11/2023            B        15     300    Kaneshie            293
..            ...          ...       ...     ...         ...            ...
595     7/12/2023            E        20     400       Accra            132
596      8/9/2023            B        15     300  East-Legon            266
597    18/01/2023            B         8     160       Accra             64
598    27/06/2023            E        10     200    Kaneshie            318
599    14/02/2023            E         2      40    Dansoman            251

[600 rows x 6 columns]

In [19]:
df['Time Of Order'] = pd.to_datetime(df['Time Of Order'], format='%d/%m/%Y')

# Extract month and day features from 'Time Of Order'
df['Month'] = df['Time Of Order'].dt.month
df['Day'] = df['Time Of Order'].dt.day

# Convert 'Location' column to numeric using label encoding
df['Location'] = pd.factorize(df['Location '])[0]


le = LabelEncoder()
df['Item Ordered'] = le.fit_transform(df['Item Ordered'])
# Select relevant columns for modeling
features = ['Item Ordered', 'Quantity', "Location ", 'Delivery Time', 'Month', 'Day']
target = 'Amount'
X = df[features]
y = df[target]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate evaluation metrics
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

# Print the evaluation metrics
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)

ValueError: could not convert string to float: 'Kaneshie'